.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../assets/img2.png);
  background-size: cover;
  background-position: center;
}

.form h2 {
  text-align: center;
  font: 2rem cursive;
  margin-bottom: 30px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 27px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
  
}

.wrapper .form {
  width: 100%;
  padding: 40px;
}


.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font: 1rem monospace;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  font-size: 0.8rem;
}

.input-box input {
  width: 10%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font: 0.9rem cursive;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.remember {
  font-size: 0.9rem;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.remember a {
  color: #4d641f;
  text-decoration: none;
}

.remember a:hover {
  text-decoration: underline;
}

.butn {
  width: 100%;
  height: 45px;
  background: #27641f;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  font: 1rem cursive;
  font-weight: 600;
  transition: 0.5s;
}

.butn:hover {
  background-color: #183614;
}

.butn:active {
  background-color: rgb(47, 32, 5);
  border-radius: 1.5rem;
}

.no-account {
  margin: 6px;
  font: 1rem cursive;
  color: rgba(127, 130, 132, 0.8);
}

.no-account a {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.no-account a:hover {
  text-decoration: underline;
}

#loginicon {
  margin: 0px 0px 0px 18px;
  color: rgba(207, 206, 206, 0.8);
}

#loginicon:hover {
  color: rgba(150, 150, 150, 0.8);
  transition: 0.5s;
}


@media screen and (max-width: 767px) {
  .wrapper {
    margin: 30px 15px;
    border-radius: 10px;
  }

  .input-box input {
    font-size: 0.8rem;
  }

  .remember {
    font-size: 0.8rem;
  }

  .butn {
    height: 40px;
    font-size: 0.9rem;
  }

  .no-account {
    font-size: 0.9rem;
  }

  .icon-close a {
    font-size: 1.25rem;
  }
}
