
.profile {
  display: flex;
  align-items: center;
}

.profilesidebar {
  order: 1; /* Displayed first on desktop view */
  margin-right: 20px;
}

.profilemain {
  order: 2; /* Displayed second on desktop view */
}

.sonx p, .profilemain p{
  background-color: rgb(241, 241, 241);
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  cursor: pointer;
  margin: 20px;
  box-sizing: border-box;
}



.sonx p span, .profilemain p span {
  font: 0.9rem cursive;
  color: green;
  width: 100%;

}

@media (max-width: 600px) {
  .profile {
    flex-direction: column;
    align-items: center; 
  }

  .profilesidebar {
    order: 1; /* Displayed first on mobile view */
    margin-bottom: 20px;
  }

  .profilemain {
    order: 2; 
  }


}



/* //CCC FLEX*/
/* BLOCK 2 */
.fatherx
{
display: flex;
background-color: purple;
flex-grow: 1;
}
.sonx{
  /* background-color: aqua; */
	  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;	
    margin: 0px 20px;
}

.son1x
{
flex-grow:1;
flex-basis:320px ;
}

.son2x
{
	flex-grow: 10;
	flex-basis:350px ;
}

.son3x
{
	flex-basis:100% ;
	flex-grow: 1;
}

/* //CCC FLEX ENDS */
#Overideflexdirection1, #Overideflexdirection2, #Overideflexdirection3 {
  flex-direction: column;
}

