.toggle {
    /* display: inline-block; */
    color: white;
 }


 .adminnavHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #177489;

}

.adminnavHeader li{
    display: inline-block;
}

 .toggle .navicon:hover {
     color: red;
 }
 
 .gobackpad{
    padding-right: 10px;
 }
 

 .navBarImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
	background: rgb(0, 0, 0);

}

.navBarImg:hover
{
	border: 1px solid #5EC852;
}