.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #1ba9c9;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    font: 1rem monospace;
    font-weight: 900;
  }
  
  .sidebar a:hover {
    background-color: #07cefa;
  }
  
.dashicon{
    vertical-align: middle; 
    margin-top: -1.5vh;
    
 }

 .dashicon:hover {
  color: rgb(217, 255, 0)
 }

 .dashicon:active {
  color: rgb(217, 255, 0)
 }

 #dash:hover {
  background-color:#1ba9c9;
 }

 .dash span {
    font: 1.4rem cursive;
    padding: 1px;
 }

 .AdminSideBareScroll {
  max-height: 60vh;
  overflow-y: scroll;
  border-top: 1px solid #176f83;
  border-bottom: 1px solid #176f83;
}

.AdminSideBareScroll::-webkit-scrollbar{
  width: 0px;
}
 